extends layout

block content
    div.container-fluid
        div.col-sm-4.col-sm-offset-4
            h1 Login/Register
            a.btn.btn-toolbar(href="/auth/twitter")="Login with twitter "
            span.glyphicon.glyphicon-off
